<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
        <div class="post-user-name">
        <!--ユーザー画像の表示-->
        <img src="<%= "/user_images/#{@user.image_name}" %>">
        <%= link_to(@user.name, "/users/#{@user.id}") %>
        </div>
        <!--投稿内容の表示-->
      <p>
      <%=@post.content %><br>
       <div class="posts">
        <% if @post.image.attached? %>
    　    <%= image_tag @post.image, width: '80%', height: '80%' %>
    　   <% end %>
    　  </div>
      </p>
      <div class="post-time">
        <!--投稿時間の表示-->
        <%=@post.created_at %>
      </div>
      
      <!--いいねの表示-->
     <% if Like.find_by(user_id: @current_user.id ,post_id: @post.id)%>
       <%=link_to("/likes/#{@post.id}/destroy", data: {turbo_method: 'post'}) do %>
       <span class="fa fa-heart liked-btn"></span>
       <%end%>
     <%else%>
       <%=link_to("/likes/#{@post.id}/create", data: {turbo_method: 'post'}) do %>
       <span class="fa fa-heart unliked-btn"></span>
       <%end%>
     <%end%>
      
      <%=@likes_count %>
      
      <!--編集・削除の追加-->
    <%if @post.user.id == @current_user.id %>
      <div class="post-menus">
        <%= link_to("編集", "/posts/#{@post.id}/edit") %>
        <!--showアクションがgetのためpost指示必要-->
        <%= link_to("削除", "/posts/#{@post.id}/destroy", data: {turbo_method: 'post'}) %>
      </div>
    <%end%>
    </div>
  </div>
</div>